@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Table Header */
thead tr {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

/* Table Header Cells */
thead th {
  padding: 8px;
  text-align: left;
}

/* Table Body Rows */
tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Table Body Cells */
tbody td {
  padding: 8px;
  text-align: left;
}

/* styles.css */
.button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #dc3545;
}

.cancel-button:hover {
  background-color: #c82333;
}

/* modalStyles.css - Add these styles */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  div{
    display: flex;
    flex-direction: column;
  }
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.error-message {
  color: red;
  font-size: 0.85em;
  margin-top: 2px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.button:hover {
  opacity: 0.8;
}

.cancel-button {
  background-color: #dc3545;
}

.cancel-button:hover {
  background-color: #c82333;
}

.updateButton{
  color: blue;
}
.deleteButton{
  color:red
}